body, html {
    height: 100%;
    margin: 0;
    background-color: #0A243D;
}

.heading{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.8em;
  font-family: "Raleway";
  font-weight: bold;
}

.logo {
    position: absolute;
    width: 13em;
    height: auto;
    padding: 12px;
}

.sign-in {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
